        <div style="margin: 20px">
            
            <!--header-->
            <div>
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active">
                        <a href="#" style="background-color: white; margin-right: 10px">
                            <a routerLink="/userlist">
                              User List
                            </a>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#" style="background-color: ghostwhite; height: 40px">
                            <a routerLink="/adduser">
                              Add User
                            </a>
                        </a>
                    </li>
                </ul>
            </div>

            <!--body-->
            <div style="margin-top: 4%">
              <table class="table table-bordered table-striped">
                <tr>
                  <th style="text-align: center">Name</th>
                  <th style="text-align: center">Email</th>
                  <th style="text-align: center">Address</th>
                  <th style="text-align: center">Company</th>
                  <th style="text-align: center">Action</th>
                </tr>
                <tr *ngFor="let d of api.data">
                  <td>{{ d.name }}</td>
                  <td>{{ d.email }}</td>
                  <td>{{ d.address.street }}</td>
                  <td>{{ d.company.name }}</td>
                  <td style="text-align: center">
                    <button class="btn btn-danger" style="border-radius: 0px !important" (click)="deleteToDo(i)">Remove</button>
                  </td>
                </tr>            
              </table>
            </div>

        </div>