        <div style="margin: 20px">
            
            <!--header-->
            <div>
                <ul class="nav nav-tabs">
                    <li role="presentation">
                        <a href="#" style="background-color: ghostwhite; margin-right: 10px; height: 40px">
                            <a routerLink="/userlist">
                              User List
                            </a>
                        </a>
                    </li>
                    <li role="presentation" class="active">
                        <a href="#" style="background-color: white">
                            <a routerLink="/adduser">
                              Add User
                            </a>
                        </a>
                    </li>
                </ul>
            </div>

            <!--body-->
            <div>
                <h4 style="margin: 30px 0 30px 0"><b>User Data</b></h4>

                <div style="margin-left: 20px">
                    <div>
                        <div class="col-lg-2">
                            <h5>Name</h5>
                        </div>

                        <div class="form-group col-lg-10">
                            <input type="text" class="form-control" style="width: 30%; border-radius: 0px !important" [(ngModel)]="newName">
                        </div>
                    </div>

                    <div>
                        <div class="col-lg-2">
                            <h5>Email</h5>
                        </div>

                        <div class="form-group col-lg-10">
                            <input type="text" class="form-control" style="width: 30%; border-radius: 0px !important" [(ngModel)]="newEmail">
                        </div>
                    </div>

                    <div>
                        <div class="col-lg-2">
                            <h5>Address</h5>
                        </div>

                        <div class="form-group col-lg-10">
                            <input type="text" class="form-control" style="width: 30%; border-radius: 0px !important" [(ngModel)]="newAddress">
                        </div>
                    </div>

                    <div>
                        <div class="col-lg-2">
                            <h5>Phone Number</h5>
                        </div>

                        <div class="form-group col-lg-10">
                            <input type="text" class="form-control" style="width: 30%; border-radius: 0px !important" [(ngModel)]="newPhoneNumber">
                        </div>
                    </div>

                    <div>
                        <div class="col-lg-2">
                            <h5>Company Name</h5>
                        </div>

                        <div class="form-group col-lg-10">
                            <input type="text" class="form-control" style="width: 30%; border-radius: 0px !important" [(ngModel)]="newCompanyName">
                        </div>
                    </div>

                    <div>
                        <div class="col-lg-2"></div>
                        <div class="form-group col-lg-10">
                            <button class="btn btn-success" style="border-radius: 0px !important" (click)="addToDo()">Add User</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>